<body translate="no">
  <div id="root">
    <div class="App">
      <div class="h-screen flex">
        <div class="w-64 px-8 py-4 bg-gray-100 border-r overflow-auto">
          <img class="h-8 w-8" src="https://i.pravatar.cc/100" alt="logo" />
          <nav class="mt-8">
            <h3 class="text-xs font-semibold text-gray-600 uppercase tracking-wide text-left">Issues</h3>
            <div class="mt-2 -mx-3">
              <a href="#" class="flex justify-between items-center px-3 py-2 bg-gray-200 rounded-lg"
                ><span class="text-sm font-medium text-gray-900">All</span
                ><span class="text-xs font-semibold text-gray-700">36</span></a
              ><a href="#" class="flex justify-between items-center px-3 py-2 rounded-lg"
                ><span class="text-sm font-medium text-gray-700">Assigned to me</span
                ><span class="text-xs font-semibold text-gray-700">2</span></a
              ><a href="#" class="flex justify-between items-center px-3 py-2 rounded-lg"
                ><span class="text-sm font-medium text-gray-700">Created by me</span
                ><span class="text-xs font-semibold text-gray-700">2</span></a
              ><a href="#" class="flex justify-between items-center px-3 py-2 rounded-lg"
                ><span class="text-sm font-medium text-gray-700">Archived</span
                ><span class="text-xs font-semibold text-gray-700">1</span></a
              >
            </div>
            <h3 class="mt-8 text-xs font-semibold text-gray-600 uppercase tracking-wide text-left">Tags</h3>
            <div class="mt-2 -mx-3">
              <a href="#" class="flex justify-between items-center px-3 py-2 rounded-lg"
                ><span class="text-sm font-medium text-gray-700">Bug</span></a
              ><a href="#" class="flex justify-between items-center px-3 py-2 rounded-lg"
                ><span class="text-sm font-medium text-gray-700">Feature Request</span></a
              ><a href="#" class="flex justify-between items-center px-3 py-2 rounded-lg"
                ><span class="text-sm font-medium text-gray-700">Marketing</span></a
              ><a href="#" class="flex justify-between items-center px-3 py-2 rounded-lg"
                ><span class="text-sm font-medium text-gray-700">v2.0</span></a
              ><a href="#" class="flex justify-between items-center px-3 py-2 rounded-lg"
                ><span class="text-sm font-medium text-gray-700">Enhancement</span></a
              ><a href="#" class="flex justify-between items-center px-3 py-2 rounded-lg"
                ><span class="text-sm font-medium text-gray-700">Design</span></a
              >
            </div>
            <button class="mt-4 -ml-1 flex items-center text-sm font-medium text-gray-600">
              <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                <path stroke="currentColor" stroke-width="2" stroke-linecap="round" d="M12 7v10m5-5H7"></path></svg
              ><span class="ml-1">New Project</span>
            </button>
          </nav>
        </div>
        <div class="flex-1 min-w-0 bg-white flex flex-col">
          <div class="flex-shrink-0 border-b-2 border-gray-200">
            <header class="px-6">
              <div class="flex justify-between items-center border-b border-gray-200 py-2">
                <div class="flex-1">
                  <div class="relative w-64">
                    <span class="absolute pl-3 inset-y-0 left-0 flex items-center"
                      ><svg class="h-6 w-6 text-gray-600" viewBox="0 0 24 24" fill="none">
                        <path
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                        ></path></svg></span
                    ><input
                      class="
                        block
                        w-full
                        rounded-lg
                        border border-gray-400
                        pl-10
                        pr-4
                        py-2
                        text-gray-900 text-sm
                        placeholder-gray-600
                      "
                      placeholder="Search"
                    />
                  </div>
                </div>
                <div class="flex items-center">
                  <button class="">
                    <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path
                        stroke="currentColor"
                        d="M468 392h-20c-10.384 0-18.709-3.609-24.745-10.728-7.363-8.684-11.255-22.386-11.255-39.626V204c0-78.818-59.543-144.777-136-154.699V0h-40v49.301C159.543 59.223 100 125.181 100 204v144c0 14.175-3.734 25.775-10.799 33.546C82.984 388.385 74.27 392 64 392H44v56h161.413A51.888 51.888 0 00204 460c0 28.673 23.327 52 52 52s52-23.327 52-52c0-4.131-.499-8.145-1.413-12H468v-56zm-212 80c-6.617 0-12-5.383-12-12s5.383-12 12-12 12 5.383 12 12-5.383 12-12 12zm-136.792-64C132.813 392.784 140 372.052 140 348V204c0-63.067 51.263-115.072 114.302-115.987h3.396C320.737 88.928 372 140.933 372 204v137.646c0 26.84 7.174 49.488 20.745 65.494.245.289.492.576.741.86H119.208z"
                      ></path>
                    </svg></button
                  ><button class="ml-6">
                    <img class="h-8 w-8 rounded-full object-cover" src="https://i.pravatar.cc/100" alt="avatar" />
                  </button>
                </div>
              </div>
              <div class="flex justify-between items-center py-2">
                <div class="flex">
                  <h2 class="text-2xl font-semibold text-gray-900 leading-tight">All Issues</h2>
                  <div class="flex ml-6">
                    <span class="-ml-2 rounded-full border-2 border-white"
                      ><img
                        class="h-6 w-6 rounded-full object-cover"
                        src="https://i.pravatar.cc/100"
                        alt="avatar" /></span
                    ><span class="-ml-2 rounded-full border-2 border-white"
                      ><img
                        class="h-6 w-6 rounded-full object-cover"
                        src="https://i.pravatar.cc/100"
                        alt="avatar" /></span
                    ><span class="-ml-2 rounded-full border-2 border-white"
                      ><img
                        class="h-6 w-6 rounded-full object-cover"
                        src="https://i.pravatar.cc/100"
                        alt="avatar" /></span
                    ><span class="-ml-2 rounded-full border-2 border-white"
                      ><img class="h-6 w-6 rounded-full object-cover" src="https://i.pravatar.cc/100" alt="avatar"
                    /></span>
                  </div>
                </div>
                <div class="flex">
                  <span class="inline-flex p-1 border bg-gray-200 rounded"
                    ><button class="px-2 py-1 rounded">
                      <svg
                        class="h-6 w-6 text-gray-600"
                        height="512"
                        viewBox="0 -53 384 384"
                        width="512"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          stroke="currentColor"
                          d="M368 154.668H16c-8.832 0-16-7.168-16-16s7.168-16 16-16h352c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0M368 32H16C7.168 32 0 24.832 0 16S7.168 0 16 0h352c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0M368 277.332H16c-8.832 0-16-7.168-16-16s7.168-16 16-16h352c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0"
                        ></path>
                      </svg></button
                    ><button class="px-2 py-1 bg-white shadow rounded">
                      <svg
                        class="h-6 w-6 text-gray-600"
                        height="512"
                        viewBox="0 -53 384 384"
                        width="512"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          stroke="currentColor"
                          d="M368 154.668H16c-8.832 0-16-7.168-16-16s7.168-16 16-16h352c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0M368 32H16C7.168 32 0 24.832 0 16S7.168 0 16 0h352c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0M368 277.332H16c-8.832 0-16-7.168-16-16s7.168-16 16-16h352c8.832 0 16 7.168 16 16s-7.168 16-16 16zm0 0"
                        ></path>
                      </svg></button></span
                  ><button
                    class="
                      ml-5
                      flex
                      items-center
                      pl-2
                      pr-4
                      py-1
                      text-sm
                      font-medium
                      text-white
                      bg-gray-800
                      rounded
                      hover:bg-gray-700
                    "
                  >
                    <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none">
                      <path
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        d="M12 7v10m5-5H7"
                      ></path></svg
                    ><span class="ml-1">New Issue</span>
                  </button>
                </div>
              </div>
            </header>
          </div>
          <div class="flex-1 overflow-auto">
            <main class="p-3 inline-flex">
              <div class="p-3 w-80 flex-shrink-0 bg-gray-100 rounded">
                <h3 class="text-sm font-medium text-gray-900">Backlogs</h3>
                <ul class="mt-2">
                  <li class="">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                </ul>
              </div>
              <div class="flex-shrink-0 p-3 w-80 bg-gray-100 rounded ml-3">
                <h3 class="text-sm font-medium text-gray-900">Backlogs</h3>
                <ul class="mt-2">
                  <li class="">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                </ul>
              </div>
              <div class="flex-shrink-0 p-3 w-80 bg-gray-100 rounded ml-3">
                <h3 class="text-sm font-medium text-gray-900">Backlogs</h3>
                <ul class="mt-2">
                  <li class="">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                </ul>
              </div>
              <div class="flex-shrink-0 p-3 w-80 bg-gray-100 rounded ml-3">
                <h3 class="text-sm font-medium text-gray-900">Backlogs</h3>
                <ul class="mt-2">
                  <li class="">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                </ul>
              </div>
              <div class="flex-shrink-0 p-3 w-80 bg-gray-100 rounded ml-3">
                <h3 class="text-sm font-medium text-gray-900">Backlogs</h3>
                <ul class="mt-2">
                  <li class="">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                </ul>
              </div>
              <div class="flex-shrink-0 p-3 w-80 bg-gray-100 rounded ml-3">
                <h3 class="text-sm font-medium text-gray-900">Backlogs</h3>
                <ul class="mt-2">
                  <li class="">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                  <li class="mt-3">
                    <a href="#" class="block p-5 bg-white rounded shadow"
                      ><div class="flex justify-between">
                        <p class="text-sm font-medium leading-snug text-gray-900 text-left">
                          Add discount code to checkout page
                        </p>
                        <span><img class="h-6 w-6 rounded-full" src="https://i.pravatar.cc/100" alt="avatar" /></span>
                      </div>
                      <div class="flex justify-between items-baseline">
                        <div class="text-sm text-gray-600"><time datetime="2019-09-14">Sep 14</time></div>
                        <div class="mt-2">
                          <span class="px-2 py-1 leading-tight inline-flex items-center bg-teal-100 rounded"
                            ><svg class="h-2 w-2 text-teal-500" viewBox="0 0 8 8" fill="currentColor">
                              <circle cx="4" cy="4" r="3"></circle></svg
                            ><span class="text-sm ml-2 font-medium text-teal-900">Feature Request</span></span
                          >
                        </div>
                      </div></a
                    >
                  </li>
                </ul>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
