<style>
.active {
  .pricing-plan {
    box-shadow: 0 -4px 0 rgb(90, 103, 216);
  }
}
</style>
<div class="pricing-table-1 py-4 md:py-12">
  <div class="container mx-auto px-4">

    <div class="text-center">
      <h1 class="text-3xl md:text-4xl font-medium">Pricing Plans</h1>
      <p class="text-xl text-gray-900 my-4">Start with <strong>FREE</strong> Trial. No credit card. Cancel anytime.</p>
      <p class="text-gray-600 xl:px-32">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi consectetur consequatur distinctio, enim error eum impedit incidunt laboriosam, laudantium magnam, mollitia nemo non numquam officia officiis optio quaerat quasi qui reiciendis rem similique sint sit temporibus ullam voluptatem voluptates? Accusamus adipisci architecto hic molestias odit placeat quod quos recusandae.</p>
    </div>

    <div class="md:flex md:justify-center md:mt-12 md:pt-4 mt-6">

      <div class="pricing-plan-wrap text-center md:w-1/4">
        <div class="pricing-plan border md:border-r-0 border-solid rounded md:rounded-r-none">
          <div class="pricing-header p-4 md:py-6 border-b border-solid">
            <h4 class="text-2xl md:text-3xl">Free</h4>
            <p class="text-gray-600 mb-4">Forever Free</p>
            <div class="text-4xl md:text-5xl leading-none">
              <span class="text-sm align-top inline-block mt-2">$</span>0
            </div>
            <button class="border-2 border-solid border-indigo-600 hover:bg-indigo-600 text-indigo-600 hover:text-white rounded py-2 px-4 mt-6 mb-2 transition-colors duration-300">Get Started</button>
          </div>
          <div class="pricing-features">
            <ul>
              <li class="text-gray-700 py-3">Feature 1</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="pricing-plan-wrap active text-center md:w-1/4 mt-6 md:mt-0">
        <div class="pricing-plan border md:border-r-0 border-solid rounded md:rounded-r-none md:rounded-tl-none relative">
          <div class="pricing-header p-4 md:py-6 border-b border-solid">
            <h4 class="text-2xl md:text-3xl">Starter</h4>
            <p class="text-gray-600 mb-4">For Small Fishes</p>
            <div class="text-4xl md:text-5xl leading-none">
              <span class="text-sm align-top inline-block mt-2">$</span>19
            </div>
            <button class="border-2 border-solid border-indigo-600 hover:border-indigo-700 bg-indigo-600 hover:bg-indigo-700 text-white rounded py-2 px-4 mt-6 mb-2 transition-colors duration-300">Get Started</button>
          </div>
          <div class="pricing-features">
            <ul class="divide-y">
              <li class="text-gray-700 py-3">Feature 1</li>
              <li class="text-gray-700 py-3">Feature 2</li>
              <li class="text-gray-700 py-3">Feature 3</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="pricing-plan-wrap text-center md:w-1/4 mt-6 md:mt-0">
        <div class="pricing-plan border md:border-r-0 border-solid rounded md:rounded-r-none md:rounded-tl-none">
          <div class="pricing-header p-4 md:py-6 border-b border-solid">
            <h4 class="text-2xl md:text-3xl">Pro</h4>
            <p class="text-gray-600 mb-4">For Large Fishes</p>
            <div class="text-4xl md:text-5xl leading-none">
              <span class="text-sm align-top inline-block mt-2">$</span>29
            </div>
            <button class="border-2 border-solid border-indigo-600 hover:bg-indigo-600 text-indigo-600 hover:text-white rounded py-2 px-4 mt-6 mb-2 transition-colors duration-300">Get Started</button>
          </div>
          <div class="pricing-features">
            <ul class="divide-y">
              <li class="text-gray-700 py-3">Feature 1</li>
              <li class="text-gray-700 py-3">Feature 2</li>
              <li class="text-gray-700 py-3">Feature 3</li>
              <li class="text-gray-700 py-3">Feature 4</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="pricing-plan-wrap text-center md:w-1/4 mt-6 md:mt-0">
        <div class="pricing-plan border border-solid rounded md:rounded-tl-none">
          <div class="pricing-header p-4 md:py-6 border-b border-solid">
            <h4 class="text-2xl md:text-3xl">Premium</h4>
            <p class="text-gray-600 mb-4">For Whales</p>
            <div class="text-4xl md:text-5xl leading-none">
              <span class="text-sm align-top inline-block mt-2">$</span>39
            </div>
            <button class="border-2 border-solid border-indigo-600 hover:bg-indigo-600 text-indigo-600 hover:text-white rounded py-2 px-4 mt-6 mb-2 transition-colors duration-300">Get Started</button>
          </div>
          <div class="pricing-features">
            <ul class="divide-y">
              <li class="text-gray-700 py-3">Feature 1</li>
              <li class="text-gray-700 py-3">Feature 2</li>
              <li class="text-gray-700 py-3">Feature 3</li>
              <li class="text-gray-700 py-3">Feature 4</li>
              <li class="text-gray-700 py-3">Feature 5</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>