<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>panels | tui</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<p>tui > panels | Go to <a href='../all-component-menu.html'>All Components</a></p>
<div class="overflow-hidden rounded-lg bg-white shadow">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>


<script>
// sample data for this tailwind component
data = {

}
</script>

<hr />

<!-- ------------------------------------------------------ -->

<!-- Be sure to use this with a layout container that is full-width on mobile -->
<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>


<script>
// sample data for this tailwind component
data = {

}
</script>

<hr />

<!-- ------------------------------------------------------ -->

<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
  <div class="px-4 py-5 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
  </div>
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>


<script>
// sample data for this tailwind component
data = {

}
</script>

<hr />

<!-- ------------------------------------------------------ -->

<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
  <div class="px-4 py-4 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
  </div>
</div>


<script>
// sample data for this tailwind component
data = {

}
</script>

<hr />

<!-- ------------------------------------------------------ -->

<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
  <div class="px-4 py-5 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
  </div>
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
  <div class="px-4 py-4 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
  </div>
</div>


<script>
// sample data for this tailwind component
data = {

}
</script>

<hr />

<!-- ------------------------------------------------------ -->

<div class="overflow-hidden rounded-lg bg-white shadow">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
  <div class="bg-gray-50 px-4 py-4 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
  </div>
</div>


<script>
// sample data for this tailwind component
data = {

}
</script>

<hr />

<!-- ------------------------------------------------------ -->

<div class="overflow-hidden rounded-lg bg-white shadow">
  <div class="px-4 py-5 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
  </div>
  <div class="bg-gray-50 px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>


<script>
// sample data for this tailwind component
data = {

}
</script>

<hr />

<!-- ------------------------------------------------------ -->

<div class="overflow-hidden rounded-lg bg-gray-50">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>


<script>
// sample data for this tailwind component
data = {

}
</script>

<hr />

<!-- ------------------------------------------------------ -->

<div class="overflow-hidden rounded-lg bg-gray-200">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>


<script>
// sample data for this tailwind component
data = {

}
</script>

<hr />

<!-- ------------------------------------------------------ -->

<!-- Be sure to use this with a layout container that is full-width on mobile -->
<div class="overflow-hidden bg-gray-50 sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>



<script>
// sample data for this tailwind component
data = {

}
</script>

<hr />

<!-- ------------------------------------------------------ -->


</body>
</html>

