/_/
/.bundle/
/.history/
/.yardoc
/_yardoc/
/app/assets/builds/*
!/app/assets/builds/.keep
/config/master.key
/coverage/
/db/*.sqlite3
/db/*.sqlite3-*
/doc/
/log/*
!/log/.keep
/pkg/
/public/assets
/storage/*
!/storage/.keep
/spec/reports/
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
*.bundle
*.so
*.o
*.a
mkmf.log

.tool-versions
.ruby-version
.env
.rspec_status
.byebug_history
