<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tailwind Menu</title>
</head>
<body>
    <a href="footer/all.html">Footer</a><br>
    <a href="form/all.html">Form</a><br>
    <a href="faq/all.html">Faq</a><br>
    <a href="integration/all.html">Integration</a><br>
    <a href="cta/all.html">Cta</a><br>
    <a href="navigation/all.html">Navigation</a><br>
    <a href="content/all.html">Content</a><br>
    <a href="_samples/all.html">Samples</a><br>
    <a href="blog/all.html">Blog</a><br>
    <a href="logo/all.html">Logo</a><br>
    <a href="team/all.html">Team</a><br>
    <a href="testimonial/all.html">Testimonial</a><br>
    <a href="feature/all.html">Feature</a><br>
    <a href="hero/all.html">Hero</a><br>
    <a href="pricing/all.html">Pricing</a><br>
    <a href="header/all.html">Header</a><br>
  
</body>
</html>