{
  "branches": [
    "main"
  ],
  "verifyRelease": [{
    "path": "@semantic-release/exec",
    "cmd": "git config --global user.name '{{dom.author}}';echo '${nextRelease.version}' > .ver;git add .;git commit -am '${nextRelease.version} [skip ci]';git push"
  }],
  "plugins": [
    "@semantic-release/commit-analyzer", {
      "preset": "conventionalcommits"
    },
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md",
        "changelogFileTitle": "{{dom.application}} Changelog"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "docs/CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ],
  "repositoryUrl": "{{dom.repo_info.ssh_link}}"
}

