<!DOCTYPE html>
<html>
  <head>
    <title>{{camelU dom.application}}</title>

    <%= render "layouts/application_head" %>

  </head>

  <body>
    <%= render "menu" %>

    <%= yield %>
    
    <%= render "layouts/application_footer" %>
  </body>
</html>
