<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tailwind Menu</title>
</head>
<body>
    <a href="marketing/all.html">Marketing</a><br>
    <a href="page/all.html">Page</a><br>
    <a href="landing/all.html">Landing</a><br>
    <a href="contact/all.html">Contact</a><br>
    <a href="404/all.html">404</a><br>
    <a href="pricing/all.html">Pricing</a><br>
    <a href="section/all.html">Section</a><br>
    <a href="footer/all.html">Footer</a><br>
    <a href="contact/all.html">Contact</a><br>
    <a href="faq/all.html">Faq</a><br>
    <a href="cta/all.html">Cta</a><br>
    <a href="content/all.html">Content</a><br>
    <a href="blog/all.html">Blog</a><br>
    <a href="team/all.html">Team</a><br>
    <a href="testimonial/all.html">Testimonial</a><br>
    <a href="feature/all.html">Feature</a><br>
    <a href="logo-cloud/all.html">Logo Cloud</a><br>
    <a href="newsletter/all.html">Newsletter</a><br>
    <a href="hero/all.html">Hero</a><br>
    <a href="pricing/all.html">Pricing</a><br>
    <a href="header/all.html">Header</a><br>
    <a href="stats/all.html">Stats</a><br>
    <a href="banner/all.html">Banner</a><br>
    <a href="element/all.html">Element</a><br>
    <a href="flyout-menu/all.html">Flyout Menu</a><br>
    <a href="header/all.html">Header</a><br>
    <a href="banner/all.html">Banner</a><br>
  
</body>
</html>